body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:red;
}

h1 {
    font-family: cursive;
    color: gold;
    font-size: 40px;
}

#button-container {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    padding: 20px 0px;
    width: 700px;

}

button {
    width: 75px;
    font-size: large;
    border-radius: 5px;
}

#container {
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    border: 3px solid black;
    height: 700px;
    width: 700px;
    background-color: white;
}

.cell {
    border: 0.5px solid black;
    height: 100%;
    width: 100%
}

.column {
    width: 100%;
    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;
}

.etched {
    background-color:black;
}