body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    border: 3px solid black;
    height: 500px;
    width: 500px;
}

.cell {
    border: 0.5px solid black;
    height: 100%;
    width: 100%
}

.column {
    width: 100%;
    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;
}